<div class="page">
  <div class="page-container">
    <div class="container">


      <body>
        <div class="auth-block">
          <section>
            <div class="sing-in__container container">
              <div class="logo">
                <div class="logo__image"></div>
                <div class="logo__text">BUILD YOUR TANK <p>Your new reefirng platform</p>
                </div>
              </div>
              <router-outlet></router-outlet>
            </div>
          </section>

        </div>
      </body>





    </div>

  </div>
</div>
