<div class="menu">
  <h1 mat-dialog-title class="menu__title">Do you want buy <span>{{data.name}}</span>
    <br>
    Cost per one position: <span>{{data.coastPerOne}}</span>
    <br>

  </h1>
  <div mat-dialog-content class="menu__content">

    <div class="menu__form" appearance="fill">
      <mat-label class="menu__form-label">Quantity</mat-label>
      <input (change)="totalCost()" min="0" class="menu__input" matInput [(ngModel)]="data.quantity">

    </div>


  </div>
  <p *ngIf="error" class="error">Incorrect value! You enter {{data.quantity}} but we have {{data.amount}} numbers of
    position</p>
  <div class="order">
    <p class="order-list"> Quantity: <span>{{data.quantity}}</span> * <span>{{data.coastPerOne}}</span></p>
    <p class="order-list"> Total coast: <span>{{data.totalCoast }}</span></p>
  </div>

  <div mat-dialog-actions class="menu__buttons">
    <button class="menu__actions-btn non-btn-style hover-color" mat-button (click)="onNoClick()">Cancel</button>
    <button [disabled]="error || data.quantity===0 " class="menu__actions-btn non-btn-style hover-color" mat-button
      [mat-dialog-close]="data" cdkFocusInitial>Add
      to order</button>
  </div>

</div>
