<div class="menu">
  <div mat-dialog-title class="menu__title">You wont change main data (password or Email)?<br />
    You need to confirm your password to continue!!!
  </div>
  <div mat-dialog-content class="menu__content">
    <div class="menu__form" appearance="fill">
      <mat-label class="menu__form-label">Confirm password</mat-label>
      <input type="password" class="menu__input" matInput [(ngModel)]="data.password">
    </div>

  </div>
  <div mat-dialog-actions class="menu__buttons">
    <button class="menu__actions-btn non-btn-style hover-color" mat-button (click)="onNoClick()">Cancel</button>
    <button class="menu__actions-btn non-btn-style hover-color" mat-button
      (click)="confirmPassword(data.username,data.password)">Confirm</button>
  </div>
