<div class="navigation-container">
  <div class="nav-menu">
    <button [routerLink]="['/database']" class="nav-menu-el non-btn-style  hover-color-text">
      <div class="nav-menu-el__database icon-database "></div>
      <div class="nav-menu-el__text">Database</div>
    </button>
    <button [routerLink]="['/database']" class="nav-menu-el non-btn-style  hover-color-text">
      <div class="nav-menu-el__marketplace icon-marketplace"></div>
      <div class="nav-menu-el__text">Marketplace</div>
    </button>
    <button [routerLink]="['/database']" class="nav-menu-el non-btn-style  hover-color-text">
      <div class="nav-menu-el__tanks icon-tanks"></div>
      <div class="nav-menu-el__text">Tanks</div>
    </button>
  </div>


</div>
