<form [formGroup]="passwordForm" (ngSubmit)="submitLogIn()" class="login-forms">
  <div class="login-forms__header">Create password
  </div>
  <div class="login-forms__form ">
    <input formControlName="createPassword" type="password" placeholder="Create password" class="input" />
    <p *ngIf="this.passwordForm.get('createPassword')?.invalid && this.passwordForm.get('createPassword')?.touched ">
      <small class="form-error">
        Invalid format!! The password must contain minimum eight characters, at least one
        uppercase letter, one lowercase letter and one number
      </small>
    </p>
    <input formControlName="confirmPassword" type="password" placeholder="Confirm password" class="input" />
    <p *ngIf="this.passwordForm.get('confirmPassword')?.invalid && this.passwordForm.get('confirmPassword')?.touched">
      <small class="form-error">
        The form must be filled out!!! Please repeat password
      </small>
    </p>
    <p
      *ngIf="!this.passwordForm.get('confirmPassword')?.invalid && this.passwordForm.get('confirmPassword')?.touched && this.passwordForm.get('confirmPassword')?.value !== this.passwordForm.get('createPassword')?.value">
      <small class="form-error">
        Passwords do not match! Please check the entered values
      </small>
    </p>
    <button
      [disabled]="passwordForm.invalid || passwordForm.disabled || this.passwordForm.get('confirmPassword')?.value !== this.passwordForm.get('createPassword')?.value"
      class="btn create-account" type="submit">Create
      account</button>
  </div>
  <div class="have__account">
    <a routerLink="/">I already have an account</a>
  </div>
</form>
