$md1:1440px;
$md2:978px;
$md3:768px;
$md4:450px;
.container {
	
	height: 600px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.inputs {

	width: 500px;
	@media (max-width: $md4){
	width: 310px;
	}
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

}
.input {
	font-size: 16px;
	font-family: Aleo;
	margin: 5px 0;
	border-radius: 15px;
	width: inherit;
	height: 60px;
}
.buttons {
	
	width: 500px;
	@media (max-width: $md4){
	width: 310px;
	}
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

}
.action-button {
	cursor: pointer;
	font-size: 16px;
	font-family: Aleo;
	margin: 10px 0;
	border-radius: 15px;
	width: inherit;
	height: 60px;
	&:last-child{
		margin: 10px 0 20px 0;
	}
}
.field-title{
	font-size: 16px;
	margin: 10px 0 0 0 ;
}
.field{
	width: 530px;
	@media (max-width: $md4){
	width: 340px;
	}
	left: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.show-password{
		position: relative;
		right: 40px;
		top: 0px;
		background: url("../../shared/image/eye.svg") 0 0 /100% no-repeat;
		height: 30px;
		width: 30px;

}

.hide-password{
	position: relative;
	right: 40px;
	top: 0px;
	background: url("../../shared/image/eye-blocked.svg") 0 0 /100% no-repeat;
	height: 30px;
	width: 30px;

}
.red-text{
	color: red;
	font-size: 18px;
}

.message{
	position: relative;
	top: 0px;
	left: 0px;

	&__text{
	
		padding: 75px 20px;
	}
}