<form [formGroup]="form" (ngSubmit)="onSubmit()" class="container">
  <div class="inputs ">
    <p class="field-title">Enter New Password</p>
    <div class="field">
      <input id="showPassword1" formControlName="newPassword" type="password" class="input"
        placeholder="Create new password">
      <button type="button" (click)="showHidePassword(1);showPassword1 = !showPassword1 " class="non-btn-style"
        [ngClass]="showPassword1 ? 'show-password': 'hide-password'"></button>
    </div>
    <span class="red-text" *ngIf="form.get('newPassword')?.invalid && form.get('newPassword')?.touched">
      <p *ngIf="form.get('newPassword')?.errors?.['required']">Password cannot be empty
      </p>
      <p *ngIf="form.get('newPassword')?.errors?.['pattern']">Password incorrect! The password must contain minimum
        eight
        characters, at least one uppercase letter, one lowercase letter and one number
      </p>
    </span>
    <p class="field-title">Confirm New Password</p>
    <div class="field">
      <input id="showPassword2" formControlName="confirmPassword" type="password" class="input"
        placeholder="Confirm password">
      <button type="button" (click)="showHidePassword(2);showPassword2 = !showPassword2 " class="non-btn-style"
        [ngClass]="showPassword2 ? 'show-password': 'hide-password'"></button>
    </div>
    <span class="red-text"
      *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched || this.form.get('confirmPassword')?.value !== this.form.get('newPassword')?.value">
      <p *ngIf="form.get('confirmPassword')?.errors?.['required']">Password cannot be empty
      </p>
      <p *ngIf="form.get('confirmPassword')?.errors?.['pattern']">Password incorrect! The password must contain minimum
        eight characters, at least one uppercase letter, one lowercase letter and one number
      </p>
      <p *ngIf="!this.form.get('confirmPassword')?.invalid && this.form.get('confirmPassword')?.touched 
      && this.form.get('confirmPassword')?.value !== this.form.get('newPassword')?.value">
        Passwords do not match!!! Please repeat new password
      </p>

    </span>
  </div>
  <div *ngIf="updateSuccess" class="message">
    <div *ngIf="updateSuccess" class="message__text">
      Password was successfully updated
    </div>

  </div>


  <div class="buttons">
    <button
      [disabled]="form.invalid || form.disabled || this.form.get('confirmPassword')?.value !== this.form.get('newPassword')?.value"
      [ngClass]="form.invalid || form.disabled ||this.form.get('confirmPassword')?.value !== this.form.get('newPassword')?.value ? '' : 'hover-color' "
      type="submit" class="action-button non-btn-style btn-blc">Change
      password</button>
    <button [routerLink]="['/user-profile']" class="action-button non-btn-style btn-wht hover-color">Cancel</button>
  </div>
</form>
